<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.2/cropper.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
     <div id="wrapper" data-spy="scroll" data-target="#spy" class="">
         @Html.Partial("Menus/SideMenu")
    <!-- Page content -->
    <div id="page-content-wrapper" class="">
  
        <div class="content-header">
             <h1 id="home" class="">
                    <a id="menu-toggle" href="#" class="btn btn-menu btn-lg toggle">
                      <span class="glyphicon glyphicon-align-justify"></span>
         
                    </a>
                    Start Creating
                </h1>

        </div>
        
        @RenderBody()
        <hr />

        <footer>
            <div class="content-wrapper text-center">
                <div class="float-left">
                    <p>
                        &copy;  www.application-name.com @DateTime.Now.Year- Version @typeof(MvcApplication).Assembly.GetName().Version <br />
                        Designed by Petya Petkova
                        <a href="http://www.acceler8design.com" target="_blank" title="www.acceler8design.com">www.acceler8design.com</a>
                        , Programmed by Svetlin Krastanov - 
                        <a href="http://www.s2kdesign.com" target="_blank" title="www.s2kdesign.com">www.s2kdesign.com</a>
                    
                        
                    </p>

                </div>
            </div>
        </footer>
    </div><a href="#" target="_blank" class="">

    </a>
</div>

    @Scripts.Render("~/bundles/bootstrap")

    <script src="@Url.Content("~/Scripts/kendo/2016.2.714/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.714/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.714/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>


    <script>
            
       $(document).ready(function() {
        
                
	/*Menu-toggle*/
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });

    /*Scroll Spy*/
    $('body').scrollspy({ target: '#spy', offset:80});

    /*Smooth link animation*/
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
        
        });
    </script>

    @RenderSection("scripts", false)
</body>
</html>
